<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Imię" %>
  </div>

  <div class="field form-group">
    <% form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Nazwisko" %>
  </div>

  <div class="field form-group">
    <% form.label :century %>
    <%= form.number_field :century, class:"form-control", placeholder:"Wiek" %>
  </div>

  <div class="field form-group">
    <% form.label :body %>
    <%= form.text_area :body, class:"form-control", placeholder:"Opis" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
