<!-- <p id="notice"><%= notice %></p> -->

<div class="jumbotron">
  <h1 class="display-4"><%= @author.name + ' ' + @author.last_name %></h1>
  <hr class="my-4">
  <p>
  	<strong>Wiek</strong>
  	<%= @author.century %>
  </p>
  <p>
  	<strong>Opis</strong>
  	<%= @author.body %>
  </p>
  <%= link_to 'Edit', edit_author_path(@author), class:"btn btn-secondary" %> 
  <%= link_to 'Back', authors_path, class:"btn btn-dark" %>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>

<h2>książki</h2>
 <%= render'books/books' %>


<h2>Dodaj książke</h2>
<%= form_with model: [@author, @author.books.build] do |form| %>
<p>
	<%= form.text_field :title, class:"form-control", placeholder:"Tytuł" %>
</p>
<p>
	<%= form.text_field :pages, class:"form-control", placeholder:"Ilość stron" %>
</p>
<p>
	<%= form.text_field :year, class:"form-control", placeholder:"Rok" %>
</p>
<p>
	<%= form.text_field :body, class:"form-control", placeholder:"Opis" %>
</p>
<p>
    <%= form.submit %>
 </p>
<% end %>


