<h2> TEST SHOW </h2>
<div class="jumbotron">
  <h1 class="display-4"><%= @book.title %></h1>
  <hr class="my-4">
  <p>
  	<strong>Strony:</strong>
  	<%= @book.pages %>
  </p>
  <p>
  	<strong>Rok wydania:</strong>
  	<%= @book.year %>
  </p>
   <p>
    <strong>Opis:</strong>
    <%= @book.body %>
  </p>
  
  <%= link_to 'Edit', edit_author_book_path(@book), class:"btn btn-secondary" %> 
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>